{:despeckle
 "def hg_pdb_default(p):\n    try:\n        return p.get_default_value()\n    except Exception as e:\n        pass\ndef hg_pdb_param(p):\n    return {\"name\": p.name, \"type\": p.value_type.name, \"fundamental\": p.value_type.fundamental.name, \"default\": hg_pdb_default(p), \"blurb\": p.get_blurb(), \"min\": getattr(p, \"minimum\", None), \"max\": getattr(p, \"maximum\", None)}\nhg_pdb_proc = Gimp.get_pdb().lookup_procedure(\"plug-in-despeckle\")\nif (hg_pdb_proc is None):\n    None\nelse:\n    {\"name\": \"plug-in-despeckle\", \"blurb\": hg_pdb_proc.get_blurb(), \"help\": hg_pdb_proc.get_help(), \"args\": [hg_pdb_param(p) for p in hg_pdb_proc.get_arguments()], \"values\": [hg_pdb_param(p) for p in hg_pdb_proc.get_return_values()]}"}
