{:bad-attr-object false,
 :bad-binop-arity false,
 :bad-binop-op false,
 :bad-block-expr false,
 :bad-extra-key false,
 :bad-kwarg-name false,
 :bad-literal-symbol false,
 :bad-missing-key false,
 :bad-module-expr false,
 :bad-name-spelling false,
 :bad-node-kind false,
 :bad-target-literal false,
 :bad-unop-op false,
 :ok-call true,
 :ok-comp true,
 :ok-dotted-name true,
 :ok-lambda true,
 :ok-module true,
 :ok-module-empty true,
 :ok-name true,
 :ok-return-absent true,
 :ok-slice-absent true,
 :ok-try true}
