{:attr "img.get_name",
 :binop-binary "(a + b)",
 :binop-nary "(a * b * 2)",
 :binop-nested "((a + 1) * 2)",
 :binop-word "(a and b)",
 :call "f(a, 1, w=32)",
 :call-empty "f()",
 :call-kwargs-only "f(k=a, j=b)",
 :comp "[(x ** 2) for x in range(5) if ((x % 2) == 0)]",
 :comp-destructure "[l for (i, l) in xs]",
 :cond-expr "(b if a else None)",
 :dict "{\"k\": a, 1: b}",
 :dict-empty "{}",
 :lambda "(lambda a, *r: (a + 1))",
 :lambda-fixed "(lambda a, b: a)",
 :lambda-nullary "(lambda : a)",
 :list "[a, b]",
 :list-empty "[]",
 :literal "{\"a\": [1, None], \"b\": \"s/t\"}",
 :name "Gimp.get_images",
 :raw "1 + 1",
 :set "{a}",
 :set-empty "set()",
 :slice-both "xs[1:2]",
 :slice-lower "xs[1:]",
 :slice-upper "xs[:2]",
 :subscript "xs[0]",
 :tuple "(a, b)",
 :tuple-empty "()",
 :tuple-one "(a,)",
 :unop-minus "(-a)",
 :unop-not "(not a)"}
